<script type="text/javascript">
$(document).ready(function() {
  $("#missing_translation").text(I18n.t('.missing_translation'))
});
</script>
Here lies... a missing translation...
<div id="missing_translation">
</div>